@import '../../styles/variables.css';

.menuContainer {
  position: relative;
}

.menuButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
}

.dropMenu {
  position: absolute;
  top: calc(100% + 16px); /* Position below the button with a small gap */
  right: 0; /* Align to the right edge of the button */
  width: 280px;
  background: var(--gray-400);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.menuItem {
  display: block;
  padding: 23px 32px;
  color: var(--white-light);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.menuItem:first-child {
    border-top: none;
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem:hover {
  background-color: var(--dark-500);
}